* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
}

body {
  width: 95vw;
  margin: auto;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}

nav {
  position: sticky;
  top: 0;
  background-color: rgba(14, 16, 19, 0.5);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
nav:hover {
  background: black;
}
nav button {
  transition: 0.5s;
  height: 50px;
  cursor: pointer;
  background-color: transparent;
  color: grey;
  border: 1px solid rgba(150, 150, 150, 0.3);
  border-top: 0;
  border-bottom: 0;
  font-weight: 100;
  padding: 10px;
}
nav button:hover {
  color: black;
  background-color: white;
  transform: translateY(-3px);
}
nav a {
  color: grey;
  font-weight: 100;
  font-size: 1em;
  padding: 10px;
}
nav i {
  color: grey;
}
nav input {
  position: relative;
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid grey;
  width: 30vw;
  outline-style: none;
}

#indexContainer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  border: 1px solid grey;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.486);
}
#indexContainer .card {
  text-align: center;
  padding: 1vh;
  width: 22%;
  margin: 1.5%;
  border: 1px solid rgba(128, 128, 128, 0.335);
  border-radius: 5px;
  background-color: white;
  position: relative;
}
#indexContainer .card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.22);
}
#indexContainer .card img {
  width: 60%;
  height: auto;
  margin: 1vh auto;
  border-radius: 15px;
}
#indexContainer .card small,
#indexContainer .card .fa-user {
  padding: 1vh;
  color: grey;
}
#indexContainer .card .voteContain {
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
  justify-content: center;
  flex: 0.8;
  padding-bottom: 0;
}
#indexContainer .card .voteContain .fa-star,
#indexContainer .card .voteContain .fa-star-half-alt {
  color: gold;
}
#indexContainer .card .voteContain .far {
  color: grey;
}
#indexContainer .card .divBottom {
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
}
#indexContainer .card .divBottom h1 {
  font-size: 130%;
  flex: 1.2;
  display: inline;
  text-align: center;
  padding-bottom: 3vh;
}

#detailContainer h1 {
  font-size: 5vw;
  border-bottom: 5px solid black;
}
#detailContainer .voteContain,
#detailContainer .voteContain ~ div,
#detailContainer img,
#detailContainer p {
  margin-top: 3vh;
}
#detailContainer img {
  border-radius: 10px;
}
#detailContainer .voteContain {
  display: flex;
  justify-content: flex-start;
}
#detailContainer .voteContain > div {
  padding: 0 3vw 0 0;
}
#detailContainer .voteContain i {
  font-size: 1.5em;
}
#detailContainer .voteContain .fas {
  color: gold;
}
#detailContainer .voteContain .fa-user {
  color: black;
}

/*# sourceMappingURL=main.css.map */
