* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif
}

$color1: rgba(0, 0, 255, 0.342);
$shadow: 10px 10px 5px 0px rgba(0,0,0,0.22);

body {
    width: 95vw;
    margin: auto;
    min-height: 100vh;
    background-color: $color1;
}

nav {
    position: sticky;
    top: 0;
    background-color: rgba(100, 148, 237, 0.25);
    z-index: 100;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    padding: 1vw;
    border-radius: 50px 5px 50px 5px;

    input {
        margin: 1vw;
        flex: 1;
        border-radius: 5px;
        height: 50px;
        font-size: 1em
    }

    button {
        margin: 1vw;
        flex: .5;
        cursor: pointer
    }
}

section {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    border: 1px solid grey;
    margin-top: 5vh;
    width: 100%;
    background-color: white;

    .card {
        display: flex;
        padding: 1vh;
        width: 22%;
        margin: 1.5%;
        flex-direction: column;
        border: 1px solid grey;
        border-radius: 5px;
        background-color: white;
        position: relative;

        img {
            width: 90%;
            height: auto;
            margin: 1vh auto;
            border-radius: 15px
        }
        
        &:hover{
            cursor: pointer;
            transform: translateY(-10px);
            box-shadow: $shadow;
            -webkit-box-shadow: $shadow;
            -moz-box-shadow: $shadow
        }
        
        .divBottom {
            margin-top: 2vh;
            display: flex;
            justify-content: space-between;

            h1{
                flex: 1.2;
                display: inline
            }

            .voteContain {
                flex: 0.8;
                text-align: right;

                .fa-star, .fa-star-half-alt {
                    color: gold
                }
        
                .far {
                    color: grey
                }
            }
        }

        .description {
            display: none
        }

        .descriptionShow {
            display: block
        }
    }
}