* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px
}

$color1: rgba(0, 0, 0, 0.5);
$color2: rgba(14, 16, 19, 0.5);
$shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.22);

body {
    width: 95vw;
    margin: auto;
    min-height: 100vh;
    background-color: $color1;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85)
}

nav {
    position: sticky;
    top: 0;
    background-color: $color2;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    &:hover {
        background: black
    }

    button {
        transition: .5s;
        height: 50px;
        cursor: pointer;
        background-color: transparent;
        color: grey;
        border: 1px solid rgba(150, 150, 150, 0.3);
        border-top: 0;
        border-bottom: 0;
        font-weight: 100;
        padding: 10px;

        &:hover {
            border: 1px solid gold;
            color: gold;
            transform: translateY(-3px)
        }
    }

    a {
        transition: .5s;
        color: grey;
        font-weight: 800;
        font-size: 1em;
        padding: 10px;

        &:hover {
            color: gold;
        }
    }

    i {
        color: grey
    }

    input {
        position: relative;
        background-color: transparent;
        border: 0;
        border-bottom: 3px solid grey;
        width: 30vw;
        outline-style: none;
        color: gold;

        &:hover {
            border-color: gold;
        }
    }
}

.detailNav {
    position: relative;

}

.bckgr {
    width: 100%;
    height: 25vh;
    color: cornflowerblue;
    background-image: url('../img/padrinoStaff.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -190px;
    background-attachment: fixed;
    opacity: .5;
    position: relative;

    @media (max-width: 850px) {
        background-position-y: 0px;
    }

    @media (max-width: 450px) {
        width: 97%
    }


    h1 {
        position: absolute;
        bottom: 2vh;
        right: 8vw;
        color: gold;
        font-weight: 900;
        letter-spacing: 2px;
        background-color: rgba(0, 0, 0, 0.473)
    }
}

#indexContainer {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    border: 1px solid grey;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.486);

    .card {
        text-align: center;
        padding: 1vh;
        width: 22%;
        margin: 1.5%;
        border: 1px solid rgba(128, 128, 128, 0.335);
        border-radius: 5px;
        background-color: white;
        position: relative;

        @media (max-width: 850px) {
            width: 47%
        }

        @media (max-width: 450px) {
            width: 97%
        }

        &:hover {
            cursor: pointer;
            transform: translateY(-10px);
            box-shadow: $shadow;
            -webkit-box-shadow: $shadow;
            -moz-box-shadow: $shadow
        }

        img {
            width: 60%;
            height: auto;
            margin: 1vh auto;
            border-radius: 15px
        }

        small,
        .fa-user {
            padding: 1vh;
            color: grey
        }

        .voteContain {
            display: flex;
            flex-direction: row;
            margin-top: 2vh;
            justify-content: center;
            flex: 0.8;
            padding-bottom: 0;

            .fa-star,
            .fa-star-half-alt {
                color: gold
            }

            .far {
                color: grey
            }
        }

        .divBottom {
            margin-top: 2vh;
            display: flex;
            justify-content: space-between;

            h1 {
                font-size: 130%;
                flex: 1.2;
                display: inline;
                text-align: center;
                padding-bottom: 3vh
            }
        }
    }
}

#detailContainer {

    width: 90%;
    margin: auto;

    h1 {
        font-size: 5vw;
        border-bottom: 5px solid black
    }

    .voteContain,
    .voteContain~div,
    img,
    p {
        margin-top: 3vh
    }

    img {
        border-radius: 10px;
    }

    .voteContain {
        display: flex;
        justify-content: flex-start;

        >div {
            padding: 0 3vw 0 0
        }

        i {
            font-size: 1.5em
        }

        .fas {
            color: gold
        }

        .fa-user {
            color: black
        }

        .fa-heart {
            color: rgb(221, 45, 45)
        }
    }

    .picsContainer {
        margin-top: 5vh;
        background-color: rgba(128, 128, 128, 0.397);
        max-height: 60vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        overflow: hidden;

        .posterImg {
            height: 100%;
            width: auto;
            align-self: center
        }

        .bckgrImg {
            position: absolute;
            bottom: -30vh;
            border-radius: 0;
            width: 100%;
            height: auto;
            background-attachment: fixed;
            z-index: -1;
            filter: brightness(0.2) contrast(200%) opacity(10%) drop-shadow(16px 16px 20px blue);
            filter: hue-rotate(90deg);
            filter: invert(75%);
            filter: opacity(25%);
            filter: saturate(30%);

            @media (max-width: 1250px) {
                bottom: 0;
                transform: scale(1.7)
            }

            @media (max-width: 850px) {
                bottom: 10vh;
                transform: scale(1.7)
            }
        }

        p {
            padding: 10vw;
            font-size: 0.9em;
            font-weight: 600;
            color: white;
            background-color: rgba(128, 128, 128, 0.1);
            text-align: justify;

            @media (max-width: 850px) {
                font-size: 0.7em
            }

            @media (max-width: 700px) {
                font-size: 0.6em;
                padding: 5vw
            }
        }

    }
}


.closeWindow {
    position: absolute;
    top: 40vh;
    right: 10vw;
    border: 1px solid black;
    background-color: grey;
    padding: 10px;
    z-index: 500;

    &:hover {
        background-color: red;
        color: white;
        box-shadow: $shadow;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow
    }
}